.rodape{
   margin-top: 100px;
}

.fundo{
    background-repeat: no-repeat;
    background-image: url("#{facesContext.externalContext.requestContextPath}/resources/imagens/rolo_filme.jpeg");
    background-position: right 50%;
    background-attachment: fixed;
}


/*Redimensiona Componentes PrimeFaces*/
 .ui-widget{     
            font-size: 13px;     
 }
 
 .panel{
 	width: 60%;
 	height: 60%;
 }
 
 


 
